## Laravel
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

## local config
/app/config/local/database.php
/app/config/database.php

## Sublime stuff
*.sublime-project
*.sublime-workspace

## Emacs
*~

## PhpStorm
*.iml
.idea/

## Social Plugins config file.
app/config/packages/artdarek/oauth-4-laravel/config.php

## Images uploaded folder
public/images/uploaded/claims/*
