@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-snd4ot');
	src:url('../fonts/icomoon.eot?#iefix-snd4ot') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-snd4ot') format('woff'),
		url('../fonts/icomoon.ttf?-snd4ot') format('truetype'),
		url('../fonts/icomoon.svg?-snd4ot#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class^="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-big{
font-size: 2.5em;
color: #919191;
}
.icon-medium{
	font-size: 1.2em;
}
.icon-float {
font-size: 1.5em;
color: inherit;
position: absolute;
left: 15px;
top: auto;
transition: all ease 0.4s;
}
.icon-circle {
display: table;
width: 80px;
height: 80px;
line-height: 80px;
border: 1px dashed #8ecedd;
border-radius: 100px;
position: relative;
background-color: rgba(0,0,0,0.5);
text-shadow: none;
margin: auto;
}
.icon-vertical {
display: table-cell;
vertical-align: middle;
}
.icon-circle > span {
border-style: solid;
border-width: 2px;
border-color: #8ecedd;
border-radius: 50%;
background-color: #8ecedd;
position: absolute;
width: 30px;
height: 30px;
line-height: 27px;
top: -15px;
color: #000;
font-weight: bold;
text-align: center;
left: 50%;
margin-left: -15px;
}

.icon-home2:before {
	content: "\e901";
}

.icon-office:before {
	content: "\e903";
}

.icon-newspaper:before {
	content: "\e904";
}

.icon-pencil:before {
	content: "\e905";
}

.icon-droplet:before {
	content: "\e90b";
}

.icon-image:before {
	content: "\e90d";
}

.icon-dice:before {
	content: "\e915";
}

.icon-bullhorn:before {
	content: "\e91a";
}

.icon-phone:before {
	content: "\e942";
}

.icon-address-book:before {
	content: "\e944";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-location:before {
	content: "\e947";
}

.icon-calendar:before {
	content: "\e953";
}

.icon-printer:before {
	content: "\e954";
}

.icon-floppy-disk:before {
	content: "\e962";
}

.icon-bubble:before {
	content: "\e96b";
}

.icon-bubbles:before {
	content: "\e96c";
}

.icon-user:before {
	content: "\e971";
}

.icon-user-tie:before {
	content: "\e976";
}

.icon-quotes-left:before {
	content: "\e977";
}

.icon-quotes-right:before {
	content: "\e978";
}

.icon-binoculars:before {
	content: "\e985";
}

.icon-search:before {
	content: "\e986";
}

.icon-key2:before {
	content: "\e98e";
}

.icon-lock:before {
	content: "\e98f";
}

.icon-unlocked:before {
	content: "\e990";
}

.icon-wrench:before {
	content: "\e991";
}

.icon-cog:before {
	content: "\e994";
}

.icon-hammer:before {
	content: "\e996";
}

.icon-aid-kit:before {
	content: "\e998";
}

.icon-stats-dots:before {
	content: "\e99b";
}

.icon-trophy:before {
	content: "\e99e";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-truck:before {
	content: "\e9b0";
}

.icon-road:before {
	content: "\e9b1";
}

.icon-accessibility:before {
	content: "\e9b2";
}

.icon-switch:before {
	content: "\e9b6";
}

.icon-power-cord:before {
	content: "\e9b7";
}

.icon-clipboard:before {
	content: "\e9b8";
}

.icon-download3:before {
	content: "\e9c7";
}

.icon-upload3:before {
	content: "\e9c8";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-eye-blocked:before {
	content: "\e9d1";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-warning:before {
	content: "\ea07";
}

.icon-question:before {
	content: "\ea09";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-info:before {
	content: "\ea0c";
}

.icon-cancel-circle:before {
	content: "\ea0d";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-loop2:before {
	content: "\ea2e";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-sort-alpha-asc:before {
	content: "\ea48";
}

.icon-sort-alpha-desc:before {
	content: "\ea49";
}

.icon-checkbox-checked:before {
	content: "\ea52";
}

.icon-checkbox-unchecked:before {
	content: "\ea53";
}

.icon-radio-checked:before {
	content: "\ea54";
}

.icon-radio-checked2:before {
	content: "\ea55";
}

.icon-filter:before {
	content: "\ea5b";
}

.icon-terminal:before {
	content: "\ea81";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-github4:before {
	content: "\eab4";
}

