html, body {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
  font-family: sans-serif;
  margin: 0;
  color: #efefef; 
  background-color: #000000;
  width: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
ul {
    list-style: none;
    padding: 0px;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
hr {
  height: 0;
}
h3 {
    border-bottom: 1px solid #ffffff;
    padding: 5px 0px;
    margin-top: 0px;
}
h3 a {
    color: #67D8E2;
    text-decoration: none;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}  
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
p {
  margin-top: 0; }
a {
  color: #71918e; }
a:hover {
  color: #0FA0CE; }
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #999;
  border: 1px solid #bbb;
  cursor: pointer;
  margin: 10px 0px;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  background-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #000000;
  border-color: #ffffff; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #71918e;
  border-color: #71918e; }
.btn-clear {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    padding: 10px 10px 10px 45px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    width: 225px;
    background-repeat: no-repeat;
    background-position: 5px center;  
}
.btn-clear:hover {
    color: #fff;
    background-color: #656565;
}
.clear-success{
    border-color: green;
}    
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
select {
  height: 38px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #9eccc9;
  outline: 0; }
label,

fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
textarea {  
    width: 90%;
    background-color: #000000;
    padding: 5px;
}
.file {
    font-size: 13px;
}
/*Navbar*/
.navbar{
  height: 70px;
  clear: both;
  margin-bottom: 0px;
  border: 1px solid #9eccc9;
  border-bottom: none;
  background-color: #ffffff;
}
.navbar ul{
  list-style: none;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.navbar ul li{
  height: 100%;
  margin-bottom: 0px;
}
.navbar ul li.brand a{
  display: inline-block;
}
.navbar ul li.brand img{
  max-height: 70px;
}
.navbar .form-search{
  margin-right: 10px;
}
.navbar .form-search, .paginator{
  float: right;
  margin-right: 10px;
}
.navbar .form-search{
  margin-right: 4px;
}
.navbar .search {
  margin: 10px 0px;
  display: inline-block;
  line-height: 100%;
  float: left;
  height: 46px;
  padding: 1px 10px;
}
.paginator .button-icon{
  width: 48px;
  height: 48px;
}
.button-icon{
  width: 50px;
  height: 50px;
  margin: 10px 0px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0px;
}
.btn-reclamo{
  background-image: url(../img/reclamos.png);
}
.btn-search{
  background-image: url(../img/search.png);
}
.btn-next{
  background-image: url(../img/next.png);
}
.btn-prev{
  background-image: url(../img/prev.png);
}
.btn-info{
  background-image: url(../img/info.png);
}
.btn-git{
  background-image: url(../img/git.png);
}
.icon-reclamo {
    display: inline-block;
    padding: 10px;
}
.reclamo {
    display: inline-block;
    border-top: 1px solid #fff;
}
.reclamo h3{
    border-bottom: none;
}
.reclamo img{
    width: 95%;
}
.crea-reclamo{
    width: 90%;
    margin: auto;
}
.question{
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.tipo-reclamo{
  margin-left: 20px;
}
.tipo-reclamo .icon-reclamo{
    width: 20px;
    margin-left: 10px;
    padding: 0px;
}
.badge{
  font-style: italic;
  margin-right: 5px;
  font-size: 12px;
  padding: 5px;
}
.success{
  background-color: green;
}
.danger{
  background-color: red;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.clearfix{
  clear: both;
}
.pull-right{float: right;}

/*Footer*/
.footer{
  height: 62px;
  border-top: 1px solid #fff;
  margin-top: 10px;
}

.footer label{
  line-height: 70px;
  color: #ffffff;
  margin-left: 30px;
  font-weight: normal;
  letter-spacing: 2px;
  display: inline-block;
}


@media (max-width: 768px) {
  .brand img {
    width: 70%;
    display: inline-block;
  }
  .navbar {
    height: 140px;
  }
  .navbar ul li {
    height: auto;
    margin-bottom: 0px;
    text-align: center;
  }
  .navbar .form-search, .paginator {
    float: none;
    margin-right: auto;
    display: inline-block;
  }
  .navbar .search, .navbar .form-search .button-icon, .navbar .paginator .button-icon  {
    margin: 0px;
  } 
  .navbar .search{
    width: 100px;
  }
  .footer {   
    height: auto;
  }
  .footer label{
    line-height: 1em;
    margin: 15px;
  }
}